/* --------------------------- google fonts ------------------  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* { margin: 0;
     padding: 0 ;}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ........................ common design -------------------------- */
a{
    color: white;
    text-decoration: none;
}

/*---------------------- start  header menubar style    ----------------------- */

.header_banner{
    background-color: #2D25A0;
    width: 100%;
    overflow: auto; 
    
}
.navbar{
    display: flex;
    justify-content: space-around;
    margin-top: 52px;
}
.menubar{
    display: flex;
    align-items: center;
}
.menubar a{
    font-size: 16px;
    margin-right: 36px;
}
.btn{
     background-color: #E02C6D;
     padding: 10px 24px;
     border-radius: 5px;
}
.btn:hover{
    background-color: #009FB6;
}

.login_icon_size{
    margin-right: 12px;
    
}

/*---------------------- End header menubar  style    ----------------------- */

/*---------------------- start  header  banner style    ----------------------- */

.banner_part{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 49px 123px 75px 156px ;
}
.banner_text{
    margin-right: 90px;
    max-width: 485px;
}
.banner_text h1{
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-bottom: 18px;
}
.watch_icon_size {
    margin-left: 8px;
}
.banner_part img{
    max-width: 556.01px;
    min-height: 438px;
}

/*---------------------- End header  banner style    ----------------------- */

 /* ---------------------------------------start player details section style --------------------------------  */
 main{
     width: 100%;
   
 }
 .footballers{
      max-width: 1050px;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 27px;
      margin: 0 auto;
      margin-top: 70px;
 }
.footballer{
    
    max-width: 300px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
 .footballer img{
    max-width: 300px;
    min-height: 256px;
    
 }
 .footballer h1{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;

 }
 .footballer p{
   font-size: 14px;
   line-height: 28px;
   
 }

 /* ---------------------------------------End player details section style --------------------------------  */

 /* ----------------------------------start highlight style -----------------------------------------  */

 .highlight{
     display: flex;
     align-items: center;
     margin: 0 auto;
     max-width: 1050px;
     margin-top: 165px;
     
     
 }
 .highlight_text{
    max-width: 469px;
    margin-right: 76px;
 }

 .highlight_text h1{
     
     font-size: 48px;
     font-weight: bold;
 }
 .highlight_text p{
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 24px;
 }
 .highlight img{
    max-width: 567px;
    max-height: 427px;
 }

  /* ---------------------------------- End  highlight style -----------------------------------------  */